{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Posts{% endblock title %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('stocfs.create') }}">New</a>
    {% endif %}
{% endblock header %}

{% block content %}
    {% for item in data %}
    <article class="post">
        <header>
            <div>
                <h1>{{ item['name'] }}</h1>
            </div>
            {% if g.user %}
                <a class="action" href="{{ url_for('stocfs.update', id=item['id']) }}">Edit</a>
            {% endif %}
        </header>
        <p class="body">{{ item['description'] }}</p>
        <p class="url">{{ item['url'] }}</p>
        <p class="tags">{{ item['tags'] }}</p>
    </article>
    {% if not loop.last %}
    <hr />
    {% endif %}
    {% endfor %}
{% endblock content %}
