{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit "{{ item['name'] }}"{% endblock title %}</h1>
{% endblock header %}

{% block content %}
    <form method="post">
        <label for="name">Name</label>
        <input name="name" id="name" value="{{ request.form['name'] or item['name'] }}" required />

        <label for="description">Description</label>
        <input name="description" id="description" value="{{ request.form['description'] or item['description'] }}" />

        <label for="url">URL</label>
        <input name="url" id="url" value="{{ request.form['url'] or item['url'] }}" />

        <input type="submit" value="Save" />
    </form>
    <hr />
    <form action="{{ url_for('stocfs.delete', id=item['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
    </form>
{% endblock content %}
